<div class="fixed-top">
  <div class="container">
  <nav class="navbar navbar-expand-md navbar-dark bg-dark py-3 mt-4 ">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/inicio">
        <img
          src="https://firebasestorage.googleapis.com/v0/b/portfolio-e421f.appspot.com/o/logoDP.png?alt=media&token=0d433537-1c1c-4f5e-9755-37fdc3f7e032"
          alt="Logo David Prades Frontend Developer" width="45" height="45" class="d-inline-block align-text-top logo ">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav" #navbarNav>
        <ul class="navbar-nav mx-auto">
          <li class="nav-item " routerLinkActive="active">
            <a class="nav-link" routerLink="/inicio" (click)="cerrarMenu()">INICIO</a>
          </li>
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="/about" (click)="cerrarMenu()">SOBRE MÍ</a>
          </li>
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="/contacto" (click)="cerrarMenu()">CONTACTO </a>
          </li>
          <!--
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="/workspace" (click)="cerrarMenu()">SET UP </a>
          </li>-->
        </ul>
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="https://www.linkedin.com/in/davidpradesweb/">
              <i class="fab fa-linkedin fa-2x"></i>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://github.com/DavidPrades">
              <i class="fab fa-github fa-2x github"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
</div>
<section class="section">
  <div class="container">
    <router-outlet></router-outlet>
  </div>
 
</section>