.fixed-top {
    background: rgb(45, 45, 45);
}

.logo {
    margin-left: 1em;
}

.navbar {
    border-radius: 15px !important;
    font-weight: bolder;
    background-color: #282828 !important;
    box-shadow: 0.5em 0.5em 2em #1b1b1b, -0.5em -0.5em 2em #353535, inset 0 0 0 #1b1b1b, inset 0 0 0 #353535;
}

.navbar li a {
    font-weight: 900 !important;
}

.navbar li a:hover {
    background: linear-gradient(to right, #00e8ff, #fa0098);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bolder;
}

.navbar-nav .nav-item.active .nav-link {
    color: #f8f9fa;
}

.section {
    margin-top: 150px !important;
}

.github {
    margin-right: 0.5em;
}