h2 {
    font-weight: 900;
    margin-bottom: 0.5em;
}

.info {
    margin-bottom: 3em;

}

h2,
.info,
input,
label,
textarea {
    transform: translateY(100%);
    animation: slide-in 0.5s forwards;
}

.card {
    border-radius: 15px !important;
    background-color: #282828 !important;
    box-shadow: 0.5em 0.5em 2em #1b1b1b, -0.5em -0.5em 2em #353535, inset 0 0 0 #1b1b1b, inset 0 0 0 #353535;
    padding: 2em;
    margin-top: 2em;
    margin-bottom: 2em;
    margin-left: 2em;
    margin-right: 2em;
    color: white;


}

span {
    color: red;
}

.submit {
    color: white;
    background-color: #353535;
    border: 1px solid #282828;
    border-radius: 1em !important;
    box-shadow: 0.5em 0.5em 2em #1b1b1b, -0.5em -0.5em 2em #353535, inset 0 0 0 #1b1b1b, inset 0 0 0 #353535;
    padding: 1em;
    margin-top: 1em;
    font-weight: 900;
}

.submit:hover {
    background: linear-gradient(to right, #00e8ff, #fa0098) !important;
    background-clip: text !important;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;

}

@keyframes slide-in {
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}