h2 {
    font-weight: 900;
    margin-bottom: 0.5em;
}

.info {
    padding: 2em;
    border-radius: 15px;
    background-color: #282828;
    box-shadow: 0.5em 0.5em 2em #1b1b1b, -0.5em -0.5em 2em #353535, inset 0 0 0 #1b1b1b, inset 0 0 0 #353535;
    text-align: justify;
    margin-bottom: 2em;
}

.card {
    border-radius: 15px;
    background-color: #282828;
    box-shadow: 0.5em 0.5em 2em #1b1b1b, -0.5em -0.5em 2em #353535, inset 0 0 0 #1b1b1b, inset 0 0 0 #353535;
    margin-top: 1em;
    margin-bottom: 2em;
}

.card-img-top {
    width: 100%;
    height: 50vh;
    object-fit: cover;
}

.card-body {
    padding: 2em;
}


.card-text {
    text-align: justify !important;
}

a {
    color: white;
    background-color: #353535;
    border: none;
    border-radius: 1em !important;
    box-shadow: 0.5em 0.5em 2em #1b1b1b, -0.5em -0.5em 2em #353535, inset 0 0 0 #1b1b1b, inset 0 0 0 #353535;
    padding: 1em;
    margin-top: 1em;
    font-weight: 900;
}

a:hover {
    background: linear-gradient(to right, #00e8ff, #fa0098) !important;
    background-clip: text !important;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
}

i {
    color: white;
    margin-left: 0.3em;
}

.card:hover {
    -webkit-box-shadow: 0px 0px 18px 3px rgba(46, 46, 46, 1);
    -moz-box-shadow: 0px 0px 18px 3px rgba(46, 46, 46, 1);
    box-shadow: 0px 0px 18px 3px rgba(46, 46, 46, 1);
}

.titulo,
.parrafo,
h5,
p,
img {
    transform: translateY(100%);
    animation: slide-in 0.5s forwards;
}

@keyframes slide-in {
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}