<div class="container">
  <div class="info">
    <h2 class="titulo">MI SET UP DESAROLLADOR WEB 2023</h2>
    <p class="parrafo"> Te presento mi set up de desarrollador web. Es un ambiente de trabajo diseñado para aumentar mi
      productividad y poder estar cómodo
      durante largas sesiones de programación. Utilizo una pc de torre junto con una pantalla de alta resolución y un
      teclado mecánico para una mayor eficiencia al escribir
      código. También incluyo un ratón ligero para evitar lesiones por uso prolongado</p>
  </div>

  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <div class="card">
        <img src="https://m.media-amazon.com/images/I/71bHbWNRD-L._AC_SY879_.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title fw-bold">Msi Mpg Gungnir 111R</h5>
          <p class="card-text">Caja PC E-ATX Msi Mpg Gungnir 111R negro con vidrio templado</p>
          <a href="https://amzn.to/3InAPmb" class="btn btn-info  fw-bold" role="button">Comprar en <i
              class="fa-brands fa-amazon"></i></a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="https://m.media-amazon.com/images/I/81Fo3D7KusL._AC_SX425_.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title fw-bold">MSI Optix G24C6</h5>
          <p class="card-text">Monitor curvo Gaming de 23.6" LED FullHD 144Hz 1920x1080p Panel VA </p>
          <a href="https://amzn.to/3KqTwIo" class="btn btn-info  fw-bold" role="button">Comprar en <i
              class="fab fa-amazon fa"></i></a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="https://m.media-amazon.com/images/I/51Rq0tWi9tL._AC_SX679_.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title fw-bold">Ozone Gaming - Mini Teclado</h5>
          <p class="card-text">Teclado Mecánico 65%, Bluetooth, Switches Outemu Red, RGB</p>
          <a href="https://amzn.to/41koHew" class="btn btn-info  fw-bold" role="button">Comprar en <i
              class="fab fa-amazon fa"></i></a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="https://m.media-amazon.com/images/I/51VpABY-b6L._AC_SX679_.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title fw-bold">Logitech G305 LIGHTSPEED</h5>
          <p class="card-text">Ratón Gaming Inalámbrico, 12,000 DPI, Ultra-ligero, Batería de 250h</p>
          <a href="https://amzn.to/3YUPmg8" class="btn btn-info  fw-bold" role="button">Comprar en <i
              class="fab fa-amazon fa"></i></a>
        </div>
      </div>
    </div>
  </div>
</div>