<div class="container">
    <div class="row" >
      <div class="col-xl col-lg d-flex align-items-center align-items-sm-center">
        <h2 class="fw-bolder" id="tittle">DAVID PRADES</h2>
    
      </div>
      <div class="col-xl col-lg d-flex align-items-center align-items-sm-center">
        <p class="text-justify"> 
            Soy un programador web apasionado y comprometido con el desarrollo de aplicaciones front-end. 
            Mi experiencia en el campo del desarrollo web se extiende a través de varios proyectos en los que he trabajado en el diseño y en el desarrollo.
            Me esfuerzo por mantenerme actualizado con las últimas tendencias y herramientas en el campo del desarrollo web para asegurarme de que mis proyectos estén siempre al día.
            Me gusta trabajar en equipo y colaborar con otros desarrolladores y diseñadores para crear soluciones creativas y eficaces.
            Mi objetivo es seguir aprendiendo y creciendo en mi carrera para convertirme en un experto en el desarrollo de aplicaciones front-end.
        </p>
      </div>
      <div class="col-xl col-lg d-flex align-items-center  align-items-sm-center">
       <p> Mi especialidad es el uso de tecnologías como HTML5, CSS3, Bootstrap, JavaScript, jQuery, Angular y React para crear experiencias de usuario atractivas y funcionales.
        </p>
    </div>
    </div>
  </div>
  