<div class="container">
    <div class="cards">
        <h2>David Prades</h2>
        <p class="sobreMi">
            Full Stack Developer.
        </p>
        <p class="sobreMi">
            Estoy titulado profesionalmente en desarrollo de aplicaciones multiplataforma y en desarrollo de
            aplicaciones
            web.
            Después de acabar los dos grados superiores de DAM y DAW empecé a trabajar como programador informático.
            He trabajado para varias empresas como Indra o Getronics y actualmente para Better Consultant.
        </p>
        <p class="sobreMi">
            Soy un apasionado del desarrollo web y tengo experiencia como Full Stack Developer. Me especializo en
            construir aplicaciones web completas, desde la interfaz de usuario hasta la base de datos y el servidor.
            Tengo habilidades en lenguajes de programación como JavaScript, HTML, CSS, Java... así como en el manejo
            de frameworks como Bootstrap, Angular o React. Además, tengo experiencia en el desarrollo de bases de datos
            y
            lenguajes de consulta como MySQL, PostgreSQL y MongoDB, y en el manejo de servidores web como Apache.
        </p>
    </div>


    <div class="cards">
        <h2 class="titulo">
            Experiencias
        </h2>
        <h3 class="subtitulo">
            Indra
        </h3>
        <p class="sobreMi">
            El primer año trabajé en Indra desde enero de 2021 hasta enero de 2022. Trabajé con Java nativo haciendo
            cambios en el código, ya que estaba en un proyecto de mantenimiento para medios de pago, el cliente era
            Caixabank.
        </p>
        <h3 class="subtitulo">
            Getronics
        </h3>
        <p class="sobreMi"> El siguiente año, de enero de 2022 a febrero de 2023, trabajé en Getronics. Realicé un
            trabajo como
            FullStack
            Developer. Trabajé con Java y Springboot para la parte del backend, y con HTML, CSS, Bootstrap y Angular
            para la
            parte del frontend. Aprendí como se hace una aplicación desde 0 ya que era un proyecto nuevo para la
            Administración Pública de la Junta de Andalucía </p>
        <h3 class="subtitulo">
            Better Consultant
        </h3>
        <p class="sobreMi"> Próximamente... </p>
    </div>

    <div class="cards">
        <h2>
            Tecnologías
        </h2>
        <p class="tecnologias">
            <img src="https://img.icons8.com/color/48/null/html-5--v1.png" />
            <img src="https://img.icons8.com/color/48/null/css3.png" />
            <img src="https://img.icons8.com/color/48/null/bootstrap.png" />
            <img src="https://img.icons8.com/color/48/null/javascript--v1.png" />
            <img src="https://img.icons8.com/fluency/48/null/angularjs.png" />
            <img src="https://img.icons8.com/ultraviolet/40/null/react--v1.png" />
            <img src="https://img.icons8.com/color/48/null/python--v1.png" />
            <img src="https://img.icons8.com/color/48/null/java-coffee-cup-logo--v1.png" />
            <img src="https://img.icons8.com/color/48/null/spring-logo.png" />
        </p>
    </div>
</div>