.footer {
    border-radius: 15px !important;
    box-shadow: 0.5em 0.5em 2em #1b1b1b, -0.5em -0.5em 2em #353535, inset 0 0 0 #1b1b1b, inset 0 0 0 #353535;
    background-color: #282828 !important;
    margin-bottom: 50px !important;
    text-align: center;
    font-weight: 900 !important;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-middle {
    flex-grow: 1;
    text-align: center;
}

.correo {
    text-decoration: none;
    color: white;
    align-items: center;
}

.correo:hover {
    background: linear-gradient(to right, #00e8ff, #fa0098) !important;
    background-clip: text !important;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
}

.footer-left {
    text-align: start;
    margin-left: 2em;
}

.qr-icon {
    cursor: pointer;
}

.modal-content {
    background-color: #1b1b1b !important;
}

.modal-body{
    padding: 4em !important;
}